*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Segoe UI', sans-serif;
  background: radial-gradient(circle at top,#141e30,#0c0f14);
  color:white;
}

/* HOME */

.home-container{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.card{
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  padding:40px;
  border-radius:20px;
  width:380px;
  text-align:center;
  box-shadow:0 20px 40px rgba(0,0,0,.6);
}

.title{
  font-size:38px;
  margin-bottom:20px;
}

input{
  width:100%;
  padding:14px;
  margin-top:12px;
  border:none;
  border-radius:10px;
  background:rgba(255,255,255,0.08);
  color:white;
}

button{
  width:100%;
  padding:14px;
  margin-top:16px;
  border:none;
  border-radius:10px;
  background:linear-gradient(135deg,#ff416c,#ff4b2b);
  color:white;
  font-weight:bold;
  cursor:pointer;
  transition:.3s;
}

button:hover{
  transform:scale(1.05);
}

/* ROOM */

.room-container{
  display:flex;
  gap:20px;
  padding:20px;
}

.video-card{
  flex:3;
  background:black;
  padding:15px;
  border-radius:20px;
}

.chat-card{
  flex:1;
  height:80vh;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(20px);
  border-radius:20px;
  display:flex;
  flex-direction:column;
}

.chat-messages{
  flex:1;
  overflow-y:auto;
  padding:15px;
}

.chat-input{
  display:flex;
}

.chat-input input{
  flex:1;
}

.chat-input button{
  width:120px;
}
